@using NS.Web.Models.Products
@model ProductDetailViewModel

@if (Model != null)
{
    <div class="col-md-12">
        <div class="row" id="productMain">
            <div class="col-sm-6">
                <div id="mainImage">
                    <img src="@Model.ImageUrl" alt="" class="img-responsive">
                </div>
                <div class="ribbon sale">
                    <div class="theribbon">SALE</div>
                    <div class="ribbon-background"></div>
                </div>
                <div class="ribbon new">
                    <div class="theribbon">NEW</div>
                    <div class="ribbon-background"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box">
                    <h1 class="text-center">@Model.ProductName</h1>
                    <p class="goToDescription">
                        <a href="#details" class="scroll-to">Scroll to product details, material &amp; care and sizing</a>
                    </p>
                    <p class="price">@string.Format("{0:C}", Model.UnitPrice)</p>
                    <p class="text-center buttons">
                        <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                    </p>
                </div>

                <div class="row" id="thumbs">
                    <div class="col-xs-4">
                        <a href="@Model.ImageUrl" class="thumb">
                            <img src="@Model.ImageUrl" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="https://unsplash.it/600/400/?random" class="thumb">
                            <img src="https://unsplash.it/600/400/?random" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="https://unsplash.it/600/400/?random" class="thumb">
                            <img src="https://unsplash.it/600/400/?random" alt="" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box" id="details">
            <p>
            </p><h4>Product details</h4>
            <p>White lace top, woven, has a round neck, short sleeves, has knitted lining attached</p>
            <h4>Material &amp; care</h4>
            <ul>
                <li>Polyester</li>
                <li>Machine wash</li>
            </ul>
            <h4>Size &amp; Fit</h4>
            <ul>
                <li>Regular fit</li>
                <li>The model (height 5'8" and chest 33") is wearing a size S</li>
            </ul>
            <blockquote>
                <p>
                    <em>Define style this season with Armani's new range of trendy tops, crafted with intricate details. Create a chic statement look by teaming this lace number with skinny jeans and pumps.</em>
                </p>
            </blockquote>
            <hr>
            <div class="social">
                <h4>Show it to your friends</h4>
                <p>
                    <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                </p>
            </div>
        </div>

        @Html.Action("RelatedProducts", "Products", new { categoryId = Model.CategoryID, unitPrice = Model.UnitPrice, productId = Model.ProductID })

        @Html.Action("ViewedProducts", "Products")
    </div>
}
else
{
    <div class="col-md-12">
        <h3>Not found!</h3>
    </div>
}
